@import "mixins.scss";
@import "variables.scss";

 
body {
    display: grid;
    gap: 24px;
    place-items: center; 
}

// Link cards container
.link-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 362px), 1fr)); 
    gap: 24px;
    margin: 0 auto;

    @media #{$min_md} {
        grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));
    }

    // Modifier class for shadow style
    &.shadow {
        .link-card {
            box-shadow: 4px 4px 0 0 $xlbeige;
            background: $white;
        }

        // Modifier for red-themed shadow cards
        &-red {
            .link-card {
                box-shadow: 4px 4px 0 0 $red;
                background: color-mix(in srgb, $lgray 80%, white 60%);

                &_description {
                    border-bottom: 1px solid $red; 
                }

                &_links {
                    li {
                        a {
                            &::before {
                                filter: none;
                                opacity: 1; 
                            }
                        }
                    }
                }
            }
        }
    }

    // Individual link card styling
    .link-card {
        background: color-mix(in srgb, $lgray 80%, white 60%);
        border: 1px solid $xlbeige;
        border-radius: 2px; 
        padding: $margin_sm calc($margin_sm / 2);
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media #{$min_sm} {
            padding: $margin_sm;
        }

        &_header {
            display: flex;
            flex-direction: column;
            gap: 8px;
            color: $brown;
        }

        &_title {
            margin: 0;
            @include c(400); 
            font-weight: normal;
            font-size: 20px;
            line-height: 1.5;

            @media #{$min_md} {
                font-size: 24px; 
            }
        }

        &_description {
            margin: 0;
            border-bottom: 1px solid $xlbeige;
            padding-bottom: 24px;
            @include m(400); 
            font-size: 18px;
            line-height: 1.5;
        }

        &_links {
            list-style: none;
            padding: 0;
            margin: 0;
            display: grid;
            gap: 16px;
            grid-template-columns: repeat(auto-fit, minmax(min(100%, 324px), 1fr)); 

            @media #{$min_md} {
                grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
            }

            li {
                padding-left: 24px;

                a {
                    color: $brown;
                    @include c(400);
                    text-decoration: underline;
                    text-decoration-color: $xlbeige;
                    text-decoration-thickness: 1px;
                    text-underline-offset: 6px;
                    position: relative;
                    line-height: 1.5;
                    transition: 0.25s;

                    &::before {
                        content: "";
                        background: url("img/arrow_right.svg") center / 16px 16px no-repeat; 
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        left: -24px;
                        opacity: 0.5;
                        top: 2px;
                        filter: grayscale(50%) sepia(100%) saturate(500%) hue-rotate(30deg) brightness(50%) contrast(100%);
                    }

                    &:hover {
                        color: $red;
                        text-decoration-color: $lbeige;

                        &::before {
                            filter: none;
                            opacity: 1;
                        }
                    }

                    &:active {
                        color: $black;
                        text-decoration-color: $lbeige;

                        &::before {
                            filter: brightness(0) saturate(100%) grayscale(100%) contrast(100%); 
                        }
                    }
                }
            }
        }
    }
}